body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo{
    font-size: 1.5rem;

}

#menu-tpggle{
    display: none;

}

.menu-icon{
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;

}

.menu-icon{
    height: 3px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;

}

nav{
    background-color: aquamarine;
    padding: 10px 20px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburguer span {
    height: 4px;
    background: rgb(226, 0, 0);
    border-radius: 2px;
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul.menu {
    color: pink;
    text-decoration: none;
}